.cont-bg {
    background-color: #86d2f2;
    height: 100vh;
}

.traffic-light {
    font-family: "Roboto";
    font-weight: bold;
}

.traffic-pole {
    height: 250px;
    width: 90px;
    background-color: #1f1d41;
    border-radius: 24px;
}

.traffic-pole-light {
    text-align: center;
    height: 42px;
    width: 42px;
    background-color: #4b5069;
    border-radius: 42px;
    margin: 14px;
}

.button {
    font-family: "Roboto";
    border-width: 0px;
    border-radius: 8px;
    margin: 16px;
    background-color: #1f1d41;
    color: #ffffff;
    height: 40px;
    width: 80px;
    padding: 8px;
}